body{
    font-family: "Hobo Std";
    margin: 0;
}
header , footer{
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: yellow;
}
nav a:hover{
    font-size: 20px;
    font-family: "Hobo Std";
}
aside{
    float: left;
}
aside ul{
    margin: 0;
    padding: 0;
    width: 200px;
}
li a{
    text-decoration: none;
    padding: 15px;
    display: block;
    color: black;
}
li a:hover{
    background-color: gray;
    color: white;
}
li a.active{
    background-color: forestgreen;
    color: white;
}
section{
    margin-left: 200px;
    border-left: 2px solid gray;
    padding: 20px;
}
div h3{
    color: teal;
    text-align: center;
}
details{
    background-color: green;
    color: white;
    padding: 20px;
    margin: 5px;
}
details div{
    background-color: lightgray;
    color: black;
    padding: 10px;
    margin: 5px;
}
/*button section*/
#teal{
    background-color: teal;
    color: black;
    border: none;
    padding: 14px 20px;
}
#green{
    background-color: green;
    color: black;
    border: none;
    padding: 14px 20px;
}
#aqua{
    background-color: aqua;
    color: black;
    border: none;
    padding: 14px 20px;
}
#red{
    background-color: red;
    color: black;
    border: none;
    padding: 14px 20px;
}
button:hover
{
    font-size: 20px;
}
button{
    border-radius: 20px;
    cursor: pointer;
}